## Render the nav bar for going to the previous/next tasks in a result set.
<div style="padding-top: 5px; padding-bottom: 3px;">
    <div style="float: left; display: inline-block;">
        <input class="get-selected" type="submit" value="Get Selected JSON" disabled="true" onclick="getSelected()"/>
        <input class="compare-selected" type="submit" value="Compare Selected" disabled="true" onclick="compareSelected()"/>
    </div>
    <div style="float: right; display: inline-block;">
        <a href="$request.requestURI?offset=$prevOffset&length=$length">[&lt;&lt; Previous $length]</a>
        - Showing Tasks ${offset} - $lastResultNum -
        <a href="$request.requestURI?offset=$nextOffset&length=$length">[Next $length &gt;&gt;]</a>
    </div>
    <div style="clear: both"></div>
</div>

<script language="javascript">

function getSelected() {
    console.log("getting selected!");
}

function compareSelected() {
    console.log("comparing selected!");
}

</script>
