<html>
<head><title>X-Trace Viewer - $title</title></head>
<body>
<p>
<form action="#" method="get" name="searchForm" onSubmit="doSearch(); return false;" style="display: inline">
<script language="javascript"><!--
function doSearch() {
  document.location.href =
    "/" + document.searchForm.searchType.value + "/" + document.searchForm.query.value;
}
//--></script>
<a href="/">Return Home</a> |
Search by
<select name="searchType">
<option selected value="titleLike">title</option>
<option value="tag">tag</option>
</select>
<input name="query" value="" />
<input type="submit" value="Go" />
</form>
<form action="#" method="get" name="getLatestForm" onSubmit="doGetLatest(); return false;"  style="display: inline">
<script language="javascript"><!--
function doGetLatest() {
  document.location.href =
    "/interactive/latestreports/" + document.getLatestForm.numrecent.value;
}
//--></script>
| <span>Get latest <input name="numrecent" value="50" style="width: 25px; text-align: center"/> reports <input type="submit" value="Go"</span>
</form>
</p>
<h1>$title</h1>
#parse("navbar.vm")
<table border=1 cellspacing=0 cellpadding=3>
<tr>
  <th>Trace Title</th>
  <th>Plain</th>
  <th>JSON</th>
  <th>Created</th>
  <th>Last Report</th>
  <th>TaskID</th>
  <th>Tags</th>
  <th>Graphs</th>
</tr>
#foreach ($task in $tasks)
  <tr>
    <td><a href="/title/$task.title">$task.title</a></td>
    <td><a href="/reports/${task.taskId}">$task.numReports</a></td>
    <td><a href="/interactive/reports/$task.taskId">$task.numReports</a></td>
    <td>$HTML_DATE_FORMAT.format($task.firstSeen)</td>
    <td>$HTML_DATE_FORMAT.format($task.lastUpdated)</td>
    <td><tt>$task.taskId</tt></td>
    <td>
    #foreach ($tag in $task.tags)
      <a href="/tag/$tag">$tag</a>#if($velocityCount<$task.tags.size()),#end
    #end
    </td>
    <td>
      <a href="/interactive/graph.html?id=$task.taskId">Interactive</a>,
      <a href="/interactive/graph.html?id=$task.taskId&lightweight=true">Lite</a>,
      <a href="/graph_report.pl?id=$task.taskId">Applet</a>,
      <a href="/graph_report.pl?id=$task.taskId&m=i">SVG</a>,
      <a href="/graph.rb?taskid=$task.taskId&format=pdf">PDF</a>#if($task.tags.contains("hadoop")),
      <a href="/hadoop-analysis.rb?taskid=$task.taskId">Hadoop Analysis</a> /
      <a href="/hadoop-quick.rb?taskid=$task.taskId">Quick Stats</a>#end
    </td>
  </tr>
#end
</table>
#parse("navbar.vm")
<form action="$request.requestURI" method="get">
<p>
<input type="hidden" name="offset" value="$offset" />
Results per page: <input type="text" name="length" value="$length" size="6" />
<input type="submit" value="Change" />
</p>
</form>
#if ($showStats)
  <hr />
  <p>Database size: $reportStore.numTasks() tasks, $reportStore.numReports() reports.</p>
#end
</body>
</html>
